@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lobster&display=swap');



.banner{
    height: 100vh;
    width: 100%;
    background:url(../images/overlay.png) ,url(../images/banner.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

}

.banner .navbar{
    margin-top: 4%;
}

.banner .navbar-brand{
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 10%;
    font-family: 'Raleway', sans-serif;

}

.banner .nav{
    margin-right: 10%;
}

.banner .nav li a{
    color: #aaa;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;

}

.banner .nav li a:hover{
    color: #fff;
    font-size: 1.2em;
}

.banner .info{
    margin-top: 15%;
    transform: translateY(-15%);
}
.banner .info h1{
    font-size: 3em;
    letter-spacing: 3px;
    color: #fff;
    font-family: 'Raleway', sans-serif;

}

.banner .info p{
    font-size: 2em;
    color: #aaa;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;

}

.banner .info a{
    margin-left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background:#4cbde2;
    padding: 10px 20px;
    font-size: 1.1em;
    opacity: 0.9;
    transition: 0.5s;
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s ease 0s;

}

.banner .info a:hover{
    background: #44f2b5;
    opacity: 1;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.s-title{
    color: #03a9f4;
    font-family: 'Comfortaa', cursive;
}

.s-title::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #e91d43;
    margin: 20px auto;
    border-radius: 15px;
}

.card-body a{
    background: linear-gradient(to bottom right, #4cbde2,#44f2b5 );
    color: white;
}  
.card-body a:hover{
    letter-spacing: 2px;
}

#Bundles{
    background:linear-gradient(#fff,#f0f0f0) ;
}

.table{
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.b-title{
    background: linear-gradient(to bottom right, #44f2b5, #4cbde2);
    padding: 40px 20px 170px;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
}

.b-title::before{
    content: "";
    height: 200px;
    width: 280px;
    position: absolute;
    bottom: -175px;
    left: -46px;
    background: #fff;
    border-radius: 80px;
    transform: rotate(-85deg);
}

.b-title::after{
    content: "";
    height: 200px;
    width: 280px;
    position: absolute;
    top: 150px;
    right: -70px;
    bottom: auto;
    left: auto;
    background: #fff;
    border-radius: 100px;
    transform: rotate(-40deg);
}

.price{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 100px;
    left: 50%;
    background: #fff;
    color: #404040;
    display: inline-block;
    padding: 30px 0;
    font-size: 30px;
    line-height: 50px;
    font-weight: 600;
    border-radius: 50%;
    transform: translate(-50%);
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.3);
}

.table:hover .price{
    background: linear-gradient(to bottom right, #44f2b5, #4cbde2);
    color: #fff;
}

.price span{
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 0;
}

.table ul{
    list-style: none;
    padding: 0;
    margin: 20xp;
    text-align: left;
    transition: all 0.3s ease 0s;
}

.table ul li{
    padding: 7px 0 7px 50px;
    position: relative;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.table ul li::before{
    content: "\f00c";
    height: 24px;
    width: 24px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 20px;
    border-radius: 50%;
    border: 2px solid #4bc7db;
    color: #4bc7db;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.table ul li.disable{
    color: #707070 !important;
}

.table ul li.disable::before{
    content: "\f00d";
    color: #707070;
    border-color: #707070 !important;
}

.Register{
    background: linear-gradient(to bottom right, #44f2b5, #4cbde2);
    position: relative;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    display: inline-block;
    color: #404040;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    z-index: 1;
}

.Register:hover{
    color: #fff;
}

.Register::before{
    content: "";
    height: 92%;
    width: 98%;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    border-radius: 30px;
    z-index: -1;
}

.Register:hover::before{
    background: 0 0;
}

.card{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15PX;
}

.img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
}

.card:hover .img2 img{
    border-color: darkcyan;
    transition: 0,7s;
}

.main-text{
    padding: 30px 0;
    text-align: center;
}

.main-text h2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    margin: 0 0 20px;
}

.main-text p{
    font-size: 16px;
    padding: 0 35px;
}

.g-social{
    text-align: center;
    padding-bottom: 20px;
}

.g-social i{
    font-size: 20px;
    color: darkcyan;
    padding: 0 10px;
}

